<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/home.css">
</head>
<body>
  <div id="main">
    <div id="homepage-signup">
      <div id="home-right">
        <div id="login-box-1">
          <div id="home-logo"></div>
          <h3>Sign up to see photos and videos <br> from your friends.</h3>
          <a href="" id="fb-login-btn"><img src="https://w7.pngwing.com/pngs/991/568/png-transparent-facebook-logo-computer-icons-facebook-logo-facebook-thumbnail.png" alt="">Log in with Facebook</a>
          <div id="or-txt">
            <div class="o-line"></div>
            <span>or</span>
            <div class="o-line"></div>
          </div>
          <form action="/register" id="login-form" style="margin-top: 15px;" method="post">
            <input type="email" placeholder="Mobile Number or Email" name="email">
            <input type="text" placeholder="Full Name" name="fullname">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <p>People who use our service may have uploaded your contact information to Instagram. <a href="">Learn <br> More</a></p>
            <p>By signing up, you agree to our <a href="">Terms</a> , <a href="">Privacy <br> Policy</a> and <a href="">Cookie Policy</a></p>
            <input type="submit" value="Sign up" class="primary-btn">
          </form>
        </div>
        <div id="login-box-2">
          <p>Have an account? <a href="/">Log in</a></p>
        </div>
        <div id="login-box-3">
          <p>Get the app.</p>
          <div id="get-box">
            <img src="https://static.cdninstagram.com/rsrc.php/v3/yz/r/c5Rp7Ym-Klz.png" alt="">
            <img src="https://static.cdninstagram.com/rsrc.php/v3/yu/r/EHY6QnZYdNX.png" alt="">
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="footer-links">
          <a href="">Meta</a>
          <a href="">About</a>
          <a href="">Blog</a>
          <a href="">Jobs</a>
          <a href="">Help</a>
          <a href="">API</a>
          <a href="">Privacy</a>
          <a href="">Terms</a>
          <a href="">Locations</a>
          <a href="">Instagram Lite</a>
          <a href="">Threads</a>
          <a href="">Contact Uploading & Non-Users</a>
          <a href="">Meta Verified</a>
        </div>
        <div id="footer-bottom">
          <select name="" id="">
            <option value="">English</option>
            <option value="">hindi</option>
          </select>
          <p>&copy; 2023 Instagram from Meta</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>