*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,body{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
}


#homepage{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 40px 0 70px 0;
}

#homepage-signup{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 0px 0 70px 0;
}

#login-box-1{
  border: 1px solid #dadada;
  padding: 55px 35px 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}

#login-box-1>h3{
  color: #737373;
  text-align: center;
  font-weight: 500;
  font-size: 1.02vw;
  margin-top: 10px;
}

#home-logo{
  width: 11vw;
  height: 7vh;
  background-image: url(https://static.cdninstagram.com/rsrc.php/v3/yx/r/WtxJZZ3-9ZP.png);
  background-size: cover;
}

#login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 15px;
}

#login-form input{
  width: 18vw;
  padding: 9px 7px;
  border: 1px solid #dadada;
  outline: none;
  border-radius: 3px;
  background-color: #FAFAFA;
}

#login-form input::placeholder{
  font-size: .74vw;
  letter-spacing: .3px;
}

#login-form .primary-btn{
  background-color: #4CB5F9;
  color: #fff;
  font-weight: 500;
  font-size: .9vw;
  border: none;
  border-radius:8px;
  padding: 7px 7px;
}

#login-form p{
  width: 18vw;
  font-size: .75vw;
  color: #737373;
  margin-top: 6px;
  margin-bottom: 4px;
}

#login-form p a{
  text-decoration: none;
}

#or-txt{
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-line{
  width: 7vw;
  height: 1.5px;
  background-color: #dadada;  
}

#or-txt span{
  text-transform: uppercase;
  color: #737373;
  font-size: .8vw;
}

#login-box-1 #fb-login{
  color: #3B589F;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: .85vw;
  font-weight: 600;
  text-decoration: none;
  margin-top: 25px;
}

#login-box-1 #fb-login img, #login-box-1 #fb-login-btn img{
  width: 1.3vw;
}

#login-box-1 #forgot-link{
  color: #3B589F;
  font-weight: 400;
  text-decoration: none;
  font-size: .7vw;
  margin-top: 20px;
}

#fb-login-btn{
  color: #fff;
  background-color: #0095F6;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: .9vw;
  font-weight: 500;
  padding: 7px 12px;
  width: 18vw;
  border-radius: 8px;
  margin-top: 18px;
  margin-bottom: 15px;
}

#login-box-2{
  border: 1px solid #dadada;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 19px;
}

#login-box-2 p{
  font-size: .9vw;
}

#login-box-2 p a{
  color: #5295F6;
  text-decoration: none;
  font-weight: 500;
}

#login-box-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#login-box-3 p{
  font-size: .85vw;
  margin-bottom: 20px;
  color: #111111e3;
}

#get-box{
  display: flex;
  align-items: center;
  gap: 10px;
}

#get-box img{
  width: 8vw;
}

#get-box img:nth-child(2){
  width: 8vw;
  height: 5vh;
}

#footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
}

#footer-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

#footer-links a{
  text-decoration: none;
  color: #737373;
  font-size: .76vw;
  font-weight: 300;
}

#footer-bottom{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#footer-bottom select{
  border: none;
  color: #737373;
  font-size: .76vw;
}

#footer-bottom p{
  color: #737373;
  font-size: .76vw;
}

@media(max-width: 500px){
  #home-phones{
    display: none;
  }

  #home-right{
    width: 100%;
    height: 100%;
  }

  #login-box-1 {
    padding: 0 0 25px 0;
    border: none;
    margin-top: 40px;
  }

  #home-logo {
    width: 46vw;
    height: 6.5vh;
  }

  #login-form input {
    width: 52vw;
    font-size: 4vw;
    padding: 7px;
  }

  #login-form input::placeholder{
    font-size: 2.5vw;
    letter-spacing: .3px;
  }

  #login-form .primary-btn {
    font-size: 3vw;
    border-radius: 4px;
  }

  #or-txt {
    width: 50vw;
  }

  .o-line {
    width: 21vw;
  }

  #or-txt span, #login-box-1 #fb-login  {
    font-size: 3vw;
  }

  #login-box-1 #fb-login img, #login-box-1 #fb-login-btn img {
    width: 3.5vw;
    height: 3.5vw;
  }

  #login-box-1 #forgot-link {
    font-size: 2.8vw;
  }

  #login-box-2 {
    border: none;
    padding: 0;
  }

  #login-box-2 p {
    font-size: 3vw;
  }

  #login-box-3 {
    display: none;
  }

  #footer{
    display: none;
  }

  #login-box-1>h3 {
    font-size: 3vw;
  }

  #fb-login-btn {
    font-size: 3vw;
    width: 47vw;
    border-radius: 4px;
  }

  #login-form p {
    width: 60vw;
    font-size: 2.5vw;
  }

  #login-form {
    margin-bottom: 0;
  }

}